footer.footer
    //-이렇게 class를 쓸수있다
    div.footer__icon
        i.fab.fa-youtube
        //-class가 한개이상일떄는 .으로 하나하나 구분해야한다
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;
    //-이렇게 #{}로 js를 넣을수있고 return값이 그냥 텍스트로 html에 표시 된다