div.social-login
    button.social-login--github
        span 
            i.fab.fa-github
        |Contiune with Github
        //-|라고 텍스트 앞에 쓰면 pug가 이건 element가 아니라 그냥 text라고 판단하게 된다
    button.social-login--facebook
        span 
            i.fab.fa-facebook
        |Contiune with FaceBook